.pracownik{
    max-height: auto;
    max-width: 15vw;
    padding: 10px;
    background-color: rgb(112, 112, 112);
    border-radius: 20px;
}

.photo{
    max-height: 20vh;
    max-width: 20vw;
    border-radius: 100%;
}